/* General Table Styling */
.tables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 2em;
    table-layout: fixed;  /* This ensures columns have equal width */
}

.game-table, .info-table {
    border-collapse: collapse;
    width: 70%; /* Adjust the width as needed */
}

.info-table {
    display: none;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.game-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.game-table td {
    position: relative;
    font-size: 16px;
}

/* Points Styling */
.points-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.points {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

/* Tricks as Superindex */
.tricks-superindex {
    font-size: 12px;
    color: #666;
    position: absolute;
    top: 5px;   
    right: 5px;
    font-style: italic;
}

.tricks {
    font-size: 0.8em;
    vertical-align: super;
}

/* Hover Effect */
.game-table td:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

/* Highlight the starting player's cell */
.starting-player {
    background-color: #f0f8ff;
    font-weight: bold;
    color: #1e90ff;
}

/* Adjust padding for better visibility */
.starting-player .points-cell {
    padding: 8px;
}


.no-trump-round {
    background-color: #d2ec7e; /* Light green background */
    border: 2px solid #1e90ff; /* Darker blue border */
    font-weight: bold;
}

/* Leaderboard specific styles */
#leaderboard-table {
    width: auto;
    margin-left: 0;
}

#leaderboard-table th.player-column {
    width: 150px; /* Set a specific width for the Player column */
}

.editable[data-action="registerTricks"][data-editable="false"] {
    cursor: not-allowed;
    opacity: 0.7;
}

.editable[data-action="registerTricks"][data-editable="true"],
.editable[data-action="askForTricks"] {
    cursor: pointer;
}

.tricks-cards-ratio {
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forbidden-value-cell {
    background-color: #fff0f0;  /* Light red background */
}

.forbidden-value {
    font-weight: bold;
    color: #d32f2f;  /* Dark red text */
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leaderboard-table .leader {
    background-color: #ffd700;  /* Gold background for the leader */
    font-weight: bold;
}

#leaderboard-table tr:hover {
    background-color: #f5f5f5;
}

#leaderboard-table td {
    padding: 10px;
}