<!DOCTYPE html>
<html>
<head>
    <title>LaPodridApp</title>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid black; padding: 8px; text-align: center; }
        .tricks { font-size: 0.8em; vertical-align: super; }
        .points { font-size: 1.2em; }
    </style>
</head>
<body>
    <%= yield %>
    <script src="/js/game.js"></script>
</body>
</html>